<div class="row">
    <div class="col-md-8 offset-2">
        <h2>Chat room</h2>
        <ul class="list-group">
            @foreach(var r in Chat.ChatWebBrowser.Controllers.ChatController.Rooms)
            {
                <li class="list-group-item">
                    <a href="~/Chat/Room?room=@r.Key">@r.Value</a>
                </li>
            }
        </ul>
    </div>
</div>